<h1><%= @actor.name %></h1>
Age: <%= @actor.age %>
<% @actor.movies.each do |movie| %>
  <%= movie.name %>
<% end %>
<h3>Coworkers:</h3>
<% @actor.coworker_movies.each do |movie| %>
  <% coworkers = movie.actors.delete(@actor) %>
  <%= coworkers.each do |actor| %>
    <%= actor.name %>
  <% end %>
<% end %>
