<h1><%= @movie.name %></h1>
<%= @movie.creation %>
<%= @movie.genre %>
<h3>Actors:</h3>
<% @movie.sort_actors.each do |actor| %>
  <%= actor.name %>
<% end %>
<h4>Average Age:</h4>
<%= @movie.average_age %>
